@charset "UTF-8";

body {
  background-color: #121212;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

h1 {
  text-align: center;
}

#title {
  margin: 100px;
  color: #cdcdcd;
  text-align: center;
}

#quiz {
  text-indent: 10px;
  display:none;
}

.next {
  border:4px solid;
  border-color: #121212;
  border-radius:25px;
  width: 40px;
  padding: 20px;
  position: relative;
  float:right;
  background-color: #cdcdcd;
  color: black;
  margin: -40px -10px 0 0;
  text-align: center;
}

.next.active {
  background-color: #F8F8FF;
  background-image: linear-gradient(315deg, #2c5da5 0%, #2bb3b3 100%);
  color: #525252;
  text-transform: uppercase;
}

.next a {
  text-decoration: none;
  color: black;
}

.prev {
  border:4px solid;
  border-color: #121212;
  border-radius:25px;
  width: 40px;
  padding: 20px;
  position: relative;
  float:right;
  background-color: #cdcdcd;
  color: black;
  margin: -40px 10px 0 0;
  text-align: center;
}

.prev.active {
  background-color: #F8F8FF;
  background-image: linear-gradient(315deg, #2c5da5 0%, #2bb3b3 100%);
  color: #525252;
  text-transform: uppercase;
}

.prev a {
  text-decoration: none;
  color: black;
}

.start {
  border:4px solid;
  border-color: #121212;
  border-radius:25px;
  font-size: 12px;
  width: 100px;
  padding: 20px;
  position: relative;
  float:right;
  background-color: #cdcdcd;
  color: black;
  margin: -40px -10px 0 0;
  text-align: center;
}

.start.active {
  background-color: #F8F8FF;
  background-image: linear-gradient(315deg, #2c5da5 0%, #2bb3b3 100%);
  color: #525252;
  text-transform: uppercase;
}

.start a {
  text-decoration: none;
  color: black;
}

button {
  position: relative;
  float:right;
}

#container {
  width:50%;
  margin:auto;
  padding: 0 25px 40px 10px;
  background-color: #121212;
  border:2px solid #B0E0E6;
  border-radius:25px;
  color: #cdcdcd;
  box-shadow: 5px 5px 5px #B0E0E6;
}

ul {
  line-height: 250%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#prev {
  display:none;
}

#start {
  display:none;
  width: 90px;
}